body{
  background-image: url("img/bg-2.png");
}
.container{
  width: 1140px;
  margin: 0 auto;
}

nav{
  overflow: hidden;
  background-color: #FF0000;
  padding:5px;
}
.nav-left{
  padding-left: 5px;
  float: left;
  width: 790px;
  height: 50px;
  overflow: hidden;
}

.logo{
  margin-top: 5px;
  width: 70px;
  height: 50px;
  float: left;
}
.imglogo{
  width: 100px;
  height: 39px;
}
  ul{
    float:left;
    overflow: hidden;
    margin-left: 50px;
    list-style-type: none;
    height: 50px;
    margin-top: 0px;
  }
  ul li{
    float:left;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
  }
ul li a{
  margin-right: 15px;
  width: auto;
  display: block;
}

a{
  list-style-type: none;
  text-decoration: none;
  color:white;
}

  }
.nav-right{
  float:left;
  width: 340;
  overflow: hidden;
}

.botones{
  width: auto;
  color: white;
  float:right;
  margin: 5px;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  font-weight: bolder;
}
form{
  margin-top: 50px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}
h2{
  margin-top: 100px;
  text-transform: uppercase;
  text-align: center;
  font-family: verdana;
}
textarea{
  width: 100%;
}
.ancho{
  width: 100%;
  height: 20px;
}
p{
  font-family: verdana;
}
.bolder{
  font-weight: bolder;
}
.botones{
  overflow: hidden;
}
  button{
    float:left;
    background-color: blue;
    margin-left: 37px;
    margin-right: 37px;
    display: block;
    font-family: verdana;
    font-weight: bolder;
    height: 30px;
    color:white;
    width: 120px;
    border-radius: 50px;
    border:solid 1px blue;
  }
